<% @page_title = "管理者ログイン" %>

<div class="admin-login-container">
	<h1 class="text-center mb-20"><%= @page_title %></h1>

	<%= form_tag :admin_session do %>
		<div class="field mb-20">
			<%= label_tag :name, "名前" %><br>
			<%= text_field_tag :name, params[:name] %>
		</div>

		<div class="field mb-20">
			<%= label_tag :password, "パスワード" %><br>
			<%= password_field_tag :password, nil %>
		</div>

		<div class="actions text-center">
			<%= submit_tag "ログイン", class: "btn-primary w-100" %>
		</div>
	<% end %>
	
	<div class="mt-20 text-center">
		<%= link_to "サービスTOPへ戻る", root_path %>
	</div>
</div>
