<div class="field">
  <%= form.label :name, "名前" %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :email, "メールアドレス" %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.label :sex, "性別" %>
  <%= form.radio_button :sex, 1 %> 男
  <%= form.radio_button :sex, 2 %> 女
</div>

<div class="field">
  <%= form.label :birthday, "誕生日" %>
  <%= form.date_select :birthday, start_year: 1930, end_year: Time.now.year, use_month_numbers: true %>
</div>

<div class="field">
  <%= form.label :comment, "自己紹介" %>
  <%= form.text_area :comment %>
</div>
