<%# locals: (form:) %>
<%# インスタンス変数(@memberなど)への直接依存を減らし、呼び出し元からローカル変数として渡すように変更 %>

<%= render "shared/basic_info_fields", form: form, member: @member %>

<div class="field">
  <%= form.label :special_member, "特別会員になる" %>
  <%= form.check_box :special_member, id: "special_member_checkbox" %>
</div>

<div id="special_member_fields" class="<%= @member.special_member? ? '' : 'hidden' %>">
  <%# ここで @tags, @regions をローカル変数として渡す %>
  <%= render "shared/special_member_fields", form: form, member: @member, tags: @tags, regions: @regions %>
</div>

<% if @member.new_record? %>
  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, "パスワード（確認）" %>
    <%= form.password_field :password_confirmation %>
  </div>
<% end %>
