<table class="attr">
  <tr>
    <th>名前</th>
    <td><%= @member.name %></td>
  </tr>

  <% if current_member == @member %>
    <tr>
      <th>メールアドレス</th>
      <td><%= @member.email %></td>
    </tr>
  <% end %>

  <tr>
    <th>性別</th>
    <td><%= @member.sex == 1 ? "男" : "女" %></td>
  </tr>

  <tr>
    <th>誕生日</th>
    <td><%= @member.birthday&.strftime("%Y年%m月%d日") %></td>
  </tr>

  <% if @member.special_member? %>
    <%= render "shared/special_member_display", member: @member %>
  <% end %>

  <tr>
    <th>自己紹介</th>
    <td><%= simple_format(@member.comment) %></td>
  </tr>
</table>

<% if @member.special_member? && current_member != @member %>
  <div class="reservation-section">
    <h3>予約状況・予約フォーム</h3>
    <p>「◎」をクリックすると予約開始時間がセットされます。</p>

    <%= render "shared/reservation_form", member: @member, reservation: @reservation %>
    
    <%= render "shared/reservation_calendar", member: @member, dates: @dates %>
  </div>
<% end %>