<%= render "shared/error_messages", object: form.object %>

<%= render "shared/basic_info_fields", form: form %>

<% unless form.object.new_record? %>
  <div class="field">
    <%= form.label :special_member, "特別会員になる" %>
    <%= form.check_box :special_member, id: "special_member_checkbox" %>
  </div>

  <div id="special_member_fields" 
       class="<%= form.object.special_member? ? '' : 'hidden' %>"
       data-hidden-class="hidden">
    <%= render "shared/special_member_fields", form: form, member: form.object %>
  </div>
<% end %>

<% if form.object.new_record? %>
  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, "パスワード（確認）" %>
    <%= form.password_field :password_confirmation %>
  </div>
<% end %>