<div class="field">
  <%= form.label :price_per_hour, "時給" %>
  <%= form.number_field :price_per_hour %>
</div>

<div class="field">
  <label>タグ</label>
  <div class="checkbox-list">
    <%= form.collection_check_boxes :tag_ids, tags, :id, :name do |b| %>
      <%= b.check_box + b.text %>
    <% end %>
  </div>
</div>

<div class="field">
    <label>出勤可能な地域</label>
    <div class="checkbox-list">
      <%= form.collection_check_boxes :region_ids, regions, :id, :name do |b| %>
        <%= b.check_box + b.text %>
      <% end %>
    </div>
  </div>

<div class="field">
  <label>出勤可能な日時</label>
  <%= schedule_table_tag(member) %>
  <%= render "shared/schedule_table", member: member, schedule_info: schedule_data %>
</div>
