<%# locals: (form:, member:, tags:, regions:) %>
<%# 特別会員情報の入力フィールドを表示するパーシャル %>

<div class="field">
  <%= form.label :price_per_hour, "時給" %>
  <%= form.number_field :price_per_hour %>
</div>

<div class="field">
  <label>タグ</label>
  <div class="checkbox-list">
    <%# Tag.all ではなく、Controllerから渡されたローカル変数 tags を使用 %>
    <%= form.collection_check_boxes :tag_ids, tags, :id, :name do |b| %>
      <%= b.check_box + b.text %>
    <% end %>
  </div>
</div>

<div class="field">
    <label>出勤可能な地域</label>
    <div class="checkbox-list">
      <%# Region.all ではなく、Controllerから渡されたローカル変数 regions を使用 %>
      <%= form.collection_check_boxes :region_ids, regions, :id, :name do |b| %>
        <%= b.check_box + b.text %>
      <% end %>
    </div>
  </div>

<div class="field">
  <label>出勤可能な日時</label>
  <%# Helperでデータを準備し、専用のパーシャルで描画する %>
  <% schedule_data = schedule_data(member) %>
  <%= render "shared/schedule_table", member: member, schedule_info: schedule_data %>
</div>
