<%= form_with model: [:admin, tag], local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field">
	<%= f.label :name, "タグ名" %><br>
	<%= f.text_field :name %>
  </div>

  <div class="actions">
	<%= f.submit class: "btn-primary" %>
	<%= link_to "キャンセル", admin_tags_path %>
  </div>
<% end %>