<% @page_title = "予約一覧" %>
<h1>予約一覧</h1>

<div class="sort-links mb-20">
	並び替え: 
	<%= link_to "日時（新しい順）", reservations_path %> | 
	<%= link_to "日時（古い順）", reservations_path(sort: "date_asc") %> | 
	<%= link_to "ステータス順", reservations_path(sort: "status") %>
</div>

<% if @reservations.any? %>
	<table class="list">
		<thead>
			<tr>
				<th>予約の種類</th>
				<th>相手の名前</th>
				<th>予約日時</th>
				<th>状態</th>
				<th>チャット</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @reservations.each do |reservation| %>
				<% reservation.update_status_if_completed %>
				<tr>
					<td>
						<% if reservation.member_id == current_member.id %>
							<span class="text-success">あなたが予約</span>
						<% else %>
							<span class="text-warning">あなたへの予約</span>
						<% end %>
					</td>
					<td>
						<% if reservation.member_id == current_member.id %>
							<%= reservation.target_member.name %>
						<% else %>
							<%= reservation.member.name %>
						<% end %>
					</td>
					<td><%= reservation.start_at.strftime("%Y/%m/%d %H:%M") %></td>
					<td>
						<% status_label = case reservation.status 
						when 'pending' then '未定'
						when 'approved' then '承諾'
						when 'rejected' then '却下'
						when 'completed' then '済み'
						end %>
						<%= status_label %>
					</td>
					<td>
						<%= link_to "チャットへ", reservation_chats_path(reservation), class: "btn" %>
					</td>
					<td>
						<%= link_to "詳細", reservation_path(reservation), class: "btn" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
  	<p>予約はありません。</p>
<% end %>
