<%= form_with model: [:admin, region], local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field">
    <%= f.label :name, "地域名" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn-primary" %>
    <%= link_to "キャンセル", admin_regions_path %>
  </div>
<% end %>