<table class="attr">
    <tr>
        <th>ユーザー名</th>
        <td><%= @member.name %></td>
    </tr>
    <tr>
        <th>性別</th>
        <td><%= @member.sex == 1 ? "男" : "女" %></td>
    </tr>
    <tr>
        <th>タグ</th>
        <td><%= @member.tags.map(&:name).join(", ") %></td>
    </tr>
    <tr>
        <th>値段</th>
        <td><%= @member.price_per_hour %> 円</td>
    </tr>
    <tr>
        <th>誕生日</th>
        <td><%= @member.birthday&.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @member.email %></td>
    </tr>
    <tr>
        <th>一言コメント</th>
        <td><%= @member.comment %></td>
    </tr>
    <tr>
        <th>パスワード</th>
        <td><%= @member.password_digest %></td>
    </tr>
</table>